@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
:root {
    --primary-color: #F9AA33;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    margin: auto;
}

hr {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    
    }

.link-primary {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    height: 2rem;
   
    
}

.link-secondary {
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    height: 2rem;
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2rem;

}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    
    padding: 5px;
}

.section h1 {
    text-align: center;

}

.ow {
    max-width: 800px;
    margin: auto;
    background-color: var(--off-white);
}

/** footers **/

.footer {
    
    background-color: var(--primary-color);
    text-align: center;
    border-top-right-radius: 1rem;
    width: 100%;
    bottom: 0;
    max-width: 900px;
    margin: auto;
    position: fixed;
}

.footer .link {
    color: white
}

.footer ul {
    padding-inline-start: 0px;
}

.projects{
    max-width: 800px;
    margin: auto;
}
.off-white{
    margin-top: 0.5rem;
    background-color: var(--off-white);
}

.nav-dp{
        width: 500px;
        height: 80px;
        background-color: blue;
        margin-top: 50px;
      
}

  .con {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

   
  }
  
  .con img {
    width:250px;
  height:250px;
  border:1px solid black;
  border-radius: 50%;
  }
  .imgL{
    width: 30px;
    height: 30px;
  }
@media only screen and (max-width: 1200px) {
.para{ 
    font-family: 'Roboto Mono', monospace;
    max-width: 600px;
    margin: auto;
    
  }
}
@media only screen and (min-width: 992px) {
    .para{ 
        font-family: 'Roboto Mono', monospace;
        max-width: 800px;
        margin: auto;
       
      }
    }
.space{
    margin-bottom: 1rem;
}
